{{> head}}
<body>
{{> header}}

<div class="w3-padding-64">

	<div class="w3-container w3-padding-8" id="projects">
		<h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">{{title}}</h3>
	</div>
	
	<div class="staff-section">
		{{#each staff}}
			<div class="w3-container">
				<div class="image-cropper">
					<img src="/img/staff/{{img}}" />
				</div>
				<div class="bio">
					<h3>{{name}}</h3>
					<h4>{{title}}</h4>
					{{#each quals}}
						<h5>{{this}}</h5>
					{{/each}}
					{{#each bio}}
						<p>{{this}}</p>
					{{/each}}
				</div>
			</div>
		{{/each}}
	</div>
</div>

{{> footer}}
</body>